/* Fonts  */

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: rgb(247, 244, 244);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  color: #000;
  text-decoration: none;
}
ul{
  list-style: none;
}




/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #000;
  color: #fff;
}
.logo {
  color: #fff;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items:center;
  width: 60%;
}

.nav-item-link {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.nav-item-link:hover{
  opacity: 0.4;
}

.hero {
  margin-bottom: 50px;
}

.hero-wrapper {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items:center;
  background-image: url(../img/bg-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
}
.hero-data {
    text-align: center;
}
.title {
  color: #fff;
  font-size: 38px;
  margin: 0;
}
.highlighted {
color:#0d6efd ;

}

.contact {
  font-size: 20px;
}


/* Service  */
.sevice-wrapper {
width: 100%;
background-color: #fff;
padding: 50px 0;
color: #000;
}
.service-head {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  margin-bottom: 50px;
}

.service-data-wrapper{
display: flex;
justify-content: space-between;
width: 100%;
}

.line {
  width: 150px;
  height: 5px;
  background-color: #0d6efd;
  position: relative;
}
.line-dot {
  width: 20px;
  height: 20px;
  background-color:#0d6efd;
  border-radius: 50%;
  position: absolute;
  top: -100%;
  left: 45%;
}


.service-data {
  width: 50%;
 
}
.heavy-letters {
  color: #198754;
  font-weight: 400;
}
.service-data-title {
  margin: 20px 0;
}
.service-text {
  margin-bottom: 20px;
  padding-right: 50px;
}
.light-letters {
  color: #198754;
  font-weight: 300;
}
.social-media-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.social-media {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 250px;
  padding: 10px 0 ;
  border-radius: 10px;
}
.social-media-link {
  padding: 10px;

}


/* Xizmatlar */

.xizmatlar-wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  color:#000;
  margin-top: 50px;
}




.services {
  display: flex;
  margin-bottom: 50px;
}
.service-item {
  width: 300px;
  margin-right: 20px;
  border: 1px solid #d8d4d4;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding-bottom: 30px;
  
}

.service-title{
  margin: 10px 0;
}
.service-item-img {
  margin-bottom: auto;
}
.service-item-title {
  padding: 0 30px;
  font-size: 16px;
}
.service-item-text {
  padding: 0 30px;
  font-size: 14px;
  margin: 15px 0;
}
.btn {
  padding: 10px 30px;
  border-radius:10px;
}
.discount{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  width:100%;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 50px;
}
.link-to-tele{
  display: flex;
  align-items:center;

}

/* Video  */


.video-wrapper {
  display: flex;
  align-items:center;
  justify-content: center;
  background-image: url(../img/images.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px;
}
.course-info-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.course-info-intro-text{
  color: #000;
  font-family: sans-serif;

}
.course-info-wrapper{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-text-wrapper{
  width: 600px;

}
.image-course-info {
  width: 100%;
}
.course-info-wrapper {
  color: #000;
  
}
.link-tele{
  margin: 0 auto;
}
.course-info{
  margin-bottom: 50px;
}
.contact-wrapper .service-text{
  color: #000;

}

.contact-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}



.contact-info {
  width: 600px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.contact-info .service-text{
  margin: 0;
}

.form-title {
  color: #000;
  margin: 20px;
}
form{
  width: 600px;
  text-align: center;
  margin-bottom: 50px;
}
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.textarea {
  width: 100%;
  padding: 10px;
}
.btn-submit{
  float: right;
  padding: 10px 50px;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
